[submodule "third_party/mujoco_menagerie"]
	path = third_party/mujoco_menagerie
	url = https://github.com/deepmind/mujoco_menagerie.git
[submodule "third_party/DynamixelSDK"]
	path = third_party/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "irl_polymetis"]
	path = irl_polymetis
	url = git@github.com:intuitive-robots/irl_polymetis.git
[submodule "real_robot"]
	path = real_robot
	url = https://github.com/ALRhub/real_robot.git
